@import "tailwindcss";

@layer components {
  @keyframes marqueeScroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  button {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #6b8271;
  --color-secondary: #f0f2ed;
  --color-customBlack: #1d1d1d;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

