@import "tailwindcss";

@layer components {
  @keyframes marqueeScroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  button {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #6b8271;
  --color-secondary: #F7F7F7;
  --color-customBlack: #1d1d1d;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b8271E6;
}

::-webkit-scrollbar-track {
  background: transparent;
}